html {
    scroll-behavior: smooth;
    height: 100%;
    font-family: Square;
    /* font-family: conthrax-sb; */
    /* font-family: Doland; */
    /* font-family: Cubest; */
}

@font-face {
    font-family: Square;
    src: url('Square.ttf');
    
    /* font-family: conthrax-sb;
    src: url('conthrax-sb.ttf'); */

    /* font-family: Doland;
    src: url('Doland-Regular.otf'); */

    /* font-family: Cubest;
    src: url('Cubest-Light.otf'); */

} 

/* #scroll{
    scrollbar-width: 0;
} */

/*--------------------BODY-------------------------------------------------------------------*/

body {
    height: 100%;
    mix-blend-mode: overlay;
    margin: 0;
    overflow: hidden;
}

#parallax {
    background-image: url("BG_03.jpg");
    /*[Data]\BG_03.png*/
    /* min-height: 500px; */
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper {
    max-width: 90vw;
    margin: auto;
    overflow: hidden;
}

main {
    width: 100%;
    background: -webkit-linear-gradient(left, #7577FA 20px, transparent 1%) center, -webkit-linear-gradient(#7577FA 20px, transparent 1%) center, #9192FB;
    background: linear-gradient(90deg, #023047 20px, transparent 1%) center, linear-gradient(#023047 20px, transparent 1%) center, #9192FB;
    background-size: 22px 22px;
}

.Arrow {
    height: 50px;
    width: auto;
    position: fixed;
    left: 95vw;
    bottom: 5%;
    cursor: pointer;
    z-index: 100;
    display: none;
}

@media screen and (max-width: 1100px) {
    .Arrow {
        height: 0px;
    }
}

/*--------------------HEADER-----------------------------------------------------------------*/

/*--------------------CHARGING BAR--------------------*/

#myProgress {
    width: 100%;
    background-color: black;
    position: absolute;
    top: 50%;
    z-index: 100;
}

#myBar {
    width: 0%;
    height: 5px;
    background-color: white;
}

/*--------------------OVERLAY--------------------*/

#overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0);
    z-index: 2;
    cursor: none;
    pointer-events: none;
    transition: 1s;
}

#overlay_right {
    position: fixed;
    display: block;
    width: 50%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 2;
    transition: 1s;
}

#overlay_left {
    position: fixed;
    display: block;
    width: 50%;
    height: 100%;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 2;
    transition: 1s;
}

#text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    transition: 1s;
    opacity: 0;
    /* z-index: 0; */
}

/*--------------------PARALLAX--------------------*/

#presentation {
    width: 85%;
    color: white;
    font-size: 5vw;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*--------------------MAIN-------------------------------------------------------------------*/

.Main_Title {
    text-align: center;
    color: white;
    font-size: 6vw;
    margin: 0;
}

.Side_Title {
    text-align: left;
    color: white;
    font-size: 3vw;
    text-align: center;
    margin-bottom: 5%;
}

.trans {
    height: 30vh;
    opacity: 0.1;
    margin: 0;
    background-image: url("BG_03.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* .Text {
    text-align: center;
    max-width: 50em;
    float: left;
} */

@media screen and (max-width: 1100px) {
    .Main_Title {
        font-size: 9vw;
    }
    .Side_Title {
        font-size: 4vw;
    }
    .Arrow {
        display: none;
    }
}

/*--------------------FOOTER-----------------------------------------------------------------*/

footer {
    background-color: #1b2e3d;
    overflow: hidden;
}

/*--------------------LIENS--------------------*/

.links{
    position: absolute;
    bottom: 10%;
}

.logo_contact {
    height: 50px;
    width: 50px;
    transform: translate(50%, -100%);
    padding-right: 10px;
    cursor: pointer;
}

.logo_contact_side {
    height: 50px;
    width: 50px;
    margin-right: 500px;
    cursor: pointer;
    display: none;
}

/*--------------------MESSAGE--------------------*/

.Contact_1 {
    display: flex;
    margin: 0 auto;
}

.Contact_1 textarea {
    resize: none;
    margin-bottom: 10px;
    height: 25px;
}

.art1 {
    text-align: right;
    margin-right: 10px;
    width: 100%;
}

.art2 {
    text-align: left;
    margin-left: 10px;
    width: 100%;
}

.art2 #Message {
    height: 161px;
    display:block;
}

.art2 #Sujet{
    height: 25px;
}

footer button {
    display: block;
    margin: 0 auto;
    height: 25px;
    /* width: 499px; */
    width: 486px;
}

@media screen and (max-width: 1440px) {
    footer button {
        width: 466px;
    }
}

@media screen and (max-width: 1100px) {
    footer button {
        margin-bottom: 50px;
    }
    .logo_contact {
        display: none;
    }
    .logo_contact_side {
        display: flex;
    }
}

@media screen and (max-width: 480px) {
    .Contact_1 {
        display: block;
        text-align: center;
    }
    .art1{
        text-align: center;
        margin-right: 0;
    }
    .art2{
        margin-left: 0;
    }
    .art2 #Sujet{
        display: block;
        margin: auto;
        margin-bottom: 15px;
    }
    .art2 #Message {
        display: block;
        margin: auto;
    }
    footer button {
        width: 223px;
        margin-top: 10px;
    }
}